@page "/cpu"
@using MyDnsShop.Shared.Dto
@inject IMyDnsShopClient Client

<h1>Процессоры @_cpu?.Count() товаров </h1>
<div style="display: flex; flex-direction: row;justify-content: center; padding: 10px;">
    <FluentTextField style="width: 70%;" @bind-Value="_searchText"/>
    <FluentButton @onclick="Search">Найти</FluentButton>
</div>
<FluentDataGrid AutoFit="true" ItemSize="350" Items="@_cpu" Virtualize="true">
    <TemplateColumn Width="100%">
        <FluentCard Height="350px">
            <FluentGrid AdaptiveRendering="false" Justify="JustifyContent.SpaceBetween">
                <FluentGridItem HiddenWhen="GridItemHidden.SmAndDown" lg="2" xxl="2" xl="2" md="2" >
                    <img style="width: 100%;height: 100%;min-width: 15%;object-fit: contain; "   alt="" src="@context.Image"/>
                </FluentGridItem>
                <FluentGridItem lg="8" xxl="8" xl="8" md="8" sm="8" xs="8">
                    <h2 style="white-space: normal;">@context.Name</h2>
                        <FluentStack Orientation="Orientation.Vertical" Wrap="true">
                        <p>Производитель: @context.Brand</p>
                        <p>Мощность:@context.Power</p>
                        <p>Соккет:@context.Socket</p>
                        <p>Частота:@context.Speed</p>
                        <p>Ядер:@context.CoreCount</p>
                        <p>Потоков:@context.ThreadCount</p>
                        </FluentStack>
                </FluentGridItem>
                <FluentGridItem lg="2" xxl="1" xl="1" md="2" sm="2" xs="2">
                        <h2>@Random.Shared.Next(1499, 60000)</h2>
                        <FluentButton >Купить</FluentButton>
                </FluentGridItem>
            </FluentGrid>
        </FluentCard>
    </TemplateColumn>
</FluentDataGrid>

@code {
    private IQueryable<CpuDto>? _cpu ;
    private string? _searchText;
    private IReadOnlyCollection<CpuDto>? _allCpu;
    protected override async Task OnInitializedAsync()
    {
        _allCpu = await Client.GetCpuAsync();
        _cpu = _allCpu.AsQueryable();
    }

    private void Search()
    {
        if (_allCpu is null)
        {
            return;
        }
        if (_cpu is null || _searchText is null)
        {
            _cpu = _allCpu.AsQueryable();
            return;
        }

        _cpu = _allCpu
            .Where(x => x.Name.Contains(_searchText, StringComparison.OrdinalIgnoreCase))
            .ToList()
            .AsQueryable();

    }
}
